affine==2.4.0
annotated-types==0.7.0
anyio==4.11.0
attrs==25.3.0
beautifulsoup4==4.14.2
certifi==2025.10.5
cffi==2.0.0
cfgrib==0.9.15.1
charset-normalizer==3.4.3
click==8.3.0
click-plugins==1.1.1.2
cligj==0.7.2
contourpy==1.3.3
cycler==0.12.1
eccodes==2.44.0
eccodeslib==2.43.0
eckitlib==1.31.4
fastapi==0.118.0
fckitlib==0.14.0
findlibs==0.1.2
fonttools==4.60.1
h11==0.16.0
idna==3.10
kiwisolver==1.4.9
matplotlib==3.10.6
numpy==2.3.3
packaging==25.0
pillow==11.3.0
pycparser==2.23
pydantic==2.11.10
pydantic_core==2.33.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-multipart==0.0.20
rasterio==1.4.3
requests==2.32.5
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
starlette==0.48.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
uvicorn==0.37.0
